---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Dec 09 2024')}
	heroImage="https://cdn.dribbble.com/userupload/17929146/file/original-d92d4830f60a23bbfab47c40c7f9f7d6.jpg?resize=752x&vertical=center"
>
	<p>
		Saya Alfie Akbar Riyadi, saya selalu tertarik untuk mempelajari hal-hal baru yang unik. Dengan rasa ingin tahu yang tinggi, saya senantiasa berusaha untuk mengembangkan pengetahuan di berbagai bidang, terutama yang berkaitan dengan teknologi. Ketertarikan utama saya ada pada IoT Development dan Frontend Web Development, di mana saya terus menggali tren terbaru dan teknik-teknik inovatif untuk menciptakan solusi yang praktis dan efisien. Dalam setiap kesempatan, saya berusaha untuk tidak hanya memahami konsep-konsep teknis, tetapi juga menerapkannya dalam proyek nyata yang dapat memberi dampak positif.


	</p>

</Layout>
